<template>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">First Admin Componetn</div>

                    <div class="card-body">
                        I'm an First Admin Componetn.

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
            alert(' alert me ');
            setTimeout(() => alert('alert me again after 2 s'), 2000);
            setTimeout(() => alert('alert me again after 4 s'), 4000);

        }
    }
</script>
